# **Data Types and Structures Assignment**

1. What are data structures, and why are they important ?
  - Data structures are ways to organize and store data efficiently for access and modification. They are important because they enable efficient data management and algorithm implementation.
  ---
2.  Explain the difference between mutable and immutable data types with examples.
  - Mutable data types can be changed after creation (e.g., lists in Python), while immutable data types cannot be changed (e.g., tuples, strings ).
  ---
3. What are the main differences between lists and tuples in Python ?
  - Lists are mutable and can be modified, while tuples are immutable and cannot be changed after creation.
  ---
4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs.2
  ---
5. Why might you use a set instead of a list in Python ?
  - Sets automatically remove duplicates and provide faster membership testing compared to lists.
  ---
6. What is a string in Python, and how is it different from a list ?
  - A string is a sequence of characters and is immutable, while a list is a mutable sequence of elements.
  ---
7.  How do tuples ensure data integrity in Python ?
  - Tuples are immutable, so their contents cannot be changed, ensuring data integrity.
  ---
8. What is a hash table, and how does it relate to dictionaries in Python ?
  - A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python are implemented using hash tables.
  ---
9. Can lists contain different data types in Python ?
  - Yes, lists can contain elements of different data types.
  ---
10. Explain why strings are immutable in Python.
  - Strings are immutable to ensure consistency and allow optimization like string interning.
  ---
11. What advantages do dictionaries offer over lists for certain tasks ?
  - Dictionaries allow fast lookups by key, while lists require linear search by index or value.
  ---
12. Describe a scenario where using a tuple would be preferable over a list.
  - When you need a fixed collection of items that should not change, such as coordinates or fixed configuration values.
  ---
13. How do sets handle duplicate values in Python ?
  - Sets automatically remove duplicate values and store only unique elements.
  ---
14.  How does the “in” keyword work differently for lists and dictionaries ?
  - For lists, 'in' checks for the presence of a value; for dictionaries, it checks for the presence of a key.
  ---
15. Can you modify the elements of a tuple? Explain why or why not.
  - No, tuples are immutable, so their elements cannot be modified after creation.
  ---
16. What is a nested dictionary, and give an example of its use case?
  - A dictionary inside another dictionary.
  
      example: student = {"name": "John", "marks": {"math": 90, "science": 85}}
  ---
17. Describe the time complexity of accessing elements in a dictionary.
  - Average time complexity is O(1) for accessing elements by key.
  ---
18.  In what situations are lists preferred over dictionaries ?
  - When order matters or when you need to store a sequence of items without key-value pairs.
  ---
19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
  - Dictionaries before Python 3.7 are unordered, meaning the order of items is not guaranteed, but this does not affect key-based retrieval.
  ---
20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists retrieve data by index, dictionaries retrieve data by key.
---

#**Practical Questions**

In [2]:
# Write a code to create a string with your name and print it
name = 'Amareshwar Sunkaraboina'
print(name)

Amareshwar Sunkaraboina

In [4]:
#Write a code to find the length of the string "Hello World"
a = "Hello World"
print(len(a))

11

In [5]:
#Write a code to slice the first 3 characters from the string "Python Programming"
a = "Python Programming"
print(a[0:3])

Pyt

In [6]:
#Write a code to convert the string "hello" to uppercase
a = "hello"
print(a.upper())

HELLO

In [7]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = "I like apple"
print(a.replace("apple","orange"))

I like orange

In [8]:
#Write a code to create a list with numbers 1 to 5 and print it
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [9]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
s = [1,2,3,4]
s.append(10)
print(s)

[1, 2, 3, 4, 10]

In [10]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
m = [1,2,3,4,5]
m.remove(3)
print(m)

[1, 2, 4, 5]

In [12]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l = ['a', 'b', 'c', 'd']
print(l[1])

b

In [13]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
ls = [10, 20, 30, 40, 50]
ls.reverse()
print(ls)

[50, 40, 30, 20, 10]

In [14]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100,200,300)
print(t)

(100, 200, 300)

In [15]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [16]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))

5

In [17]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [18]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t = ('apple', 'banana', 'orange')
print('kiwi' in t)

False

In [29]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [30]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [31]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [32]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [33]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [34]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {"name": "Amareshwar", "age": 21, "city": "hyderabad"}
print(d)

{'name': 'Amareshwar', 'age': 21, 'city': 'hyderabad'}

In [35]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [36]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [37]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

In [38]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

In [39]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
l = [1,2,3,4]
t = (1,2,3,4)
d = {'name': 'Ajay', 'city': 'Delhi'}
print(l,t,d)

[1, 2, 3, 4] (1, 2, 3, 4) {'name': 'Ajay', 'city': 'Delhi'}

In [42]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
l = [random.randint(1,100) for _ in range(5)]
l.sort()
print(l)

[10, 28, 41, 79, 83]

In [43]:
#Write a code to create a list with strings and print the element at the third index
l = ['a','b','c','d','e']
print(l[3])

d

In [44]:
# Write a code to combine two dictionaries into one and print the result.
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d3 = {**d1, **d2}
print(d3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [50]:
#Write a code to convert a list of strings into a set.
l = ['a','b','c','d','a','c','d','a','a', 'e']
s = set(l)
print(s)

{'d', 'e', 'b', 'a', 'c'}